// https://nextjs.org/docs/advanced-features/customizing-babel-config

{
  "presets": ["next/babel"],

  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "fileName": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true
      }
    ]
  ]
}
