{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    // "prettier",
    // "prettier/react"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    // "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    // "prettier/prettier": [
    //   "error",
    //   {
    //     "singleQuote": true
    //   }
    // ],
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreComments": true,
        "ignoreStrings": true
      }
    ],
    "no-undef": "off",
    "no-console": "off",
    "no-unused-vars": "off",
    "linebreak-style": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "prefer-destructuring": "off",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "react/no-array-index-key": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/state-in-constructor": "off",
    // "react/jsx-one-expression-per-line": "off",
    // "react/prefer-stateless-function": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "hrefLeft",
          "hrefRight"
        ],
        "aspects": [
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ]
  }
}
