<html>
  <head>
    <meta charset="utf-8" />

    <style>
      body {
        background-color: #202225;
        font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
      }

      .header {
        background-color: #36393f;
        font-size: 24px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
      }

      .message {
        font-size: 14px;
        color: #dcddde;
        padding-top: 15px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="header">Password Reset</div>

    <p class="message">Click the link below to reset your password:</p>

    <p class="message">
      <a href="<%= resetPasswordUrl %>"><%= resetPasswordUrl %></a>
    </p>
  </body>
</html>
