<html>
  <head>
    <meta charset="utf-8" />

    <style>
      body {
        background-color: #202225;
        font-family: Arial, sans-serif;
      }

      .header {
        background-color: #36393f;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 25px;
        padding-top: 25px;
        text-align: center;
      }

      .message {
        color: #dcddde;
        font-size: 14px;
        padding-top: 15px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="header">Welcome to hmmStart, <%= user.email %></div>

    <p class="message">
      Before we begin, one last reminder... we're counting on you to save the
      world.
    </p>

    <p class="message">To do so, create a question now!</p>
  </body>
</html>
