.forgotPassDialog {
  cursor: pointer;
  }

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  position
  : absolute;
  z-index: 666;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.inner {
  z-index: 999;
  padding: 10px;
  background-color: white;
}
